.custom_bg{
	background-color: #6D6E6A;
	padding: 10px 0;
	margin-bottom: 10px;
}
.bgc{
	background-color: #0078D7;
	min-height: 50px;
}
.c_mb{
	margin-bottom: 10px;
}
.red{
	background-color: red;
}